@media screen and (max-width: 768px) {
    aside {
        width: 15%;
        height: auto;
        position: relative;
    }

    main {
        margin-left: 0;
    }

    .album-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

header {
    background-color:#ebf4c3b9;
    backdrop-filter: blur(10px);
    position: fixed;
    height: 13%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    width: clamp(1rem, 10vw, 5rem);
    height: clamp(1rem, 10vw, 5rem);
    top: 0;
    left: 1rem;
    position: fixed;
    margin-top: 0;
    z-index: 1002;
    color: #3d372a;
}

#headerr {
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin-left: 15%;
    margin-top: 0.75rem;
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: -0.1em;
    z-index: 1001;
}

.profile-img {
    border-radius: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 768px;
    width: 80%;
    height: auto;
}

.pages {
    position: relative;
}

.page {
    display: none;
}

.page.active {
    display: block;
    animation: slidefadeh 0.5s ease-out;
}

@keyframes slidefadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: -0.1em;
}

h2 {
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: -0.1em;
}

aside {
    background-color: #393f1c;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 15%;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    top: 13%;
    left: 0;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.945) ;
    z-index: 999;
}

aside::-webkit-scrollbar {
    display: none;
}

.sidetext {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    font-size: clamp(0.3em, 2vw, 5em);
    font-family: Helvetica;
    color: #d0e7b2;
}

aside:hover .sidetext {
    opacity: 1;
    visibility: visible;
}

#sidebarEnd {
    margin-top: 20px;
    color: #1a1e0600;
}

.menubttn {
    margin-bottom: 75px;
    background-color:#9EC757;
    border-radius: 3em;
    border:#3d372a solid 2px;
    width: 80%;
    height: 2.5em;
    font-size: 1.5em;
}

.menubttn span {
    display: block;
    position: relative;
    color:#3A362C;
    top: -2.5px;
    font-size: clamp(10px, 1.5vw, 25px);
    width: 90%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

#menu {
    font-family: Helvetica;
    font-weight: bolder;
    font-size: clamp(1em, 3vw, 5em);
    color: #D8E98B;
    text-decoration: underline;
}

main {
    margin-left: 15%;
}

.headerfixer {
    color: transparent;
    margin-bottom: 5em;
}

body {
    background-color: #dae7a0;
    color: #3A362C;
}

#spotify {
    background-color: rgb(12, 202, 53);
    border-radius: 10px;
    height: 50px;
    width: 160px;
    font-size: 0.9em;
    margin-bottom: 60px;
}

#spotify span {
    position: relative;
    top: -2.5px;
}

#youtube {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    height: 50px;
    width: 160px;
    font-size: 0.9em;
    color: white;
    margin-bottom: 60px;
}

.album-container {
    max-width: 768px;
    width: 90%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    transition: 0.25s ease-out;
    cursor: pointer;
}

button span {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
    top: -5px;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px rgba(3, 3, 3, 0.5);
}

button:active {
    transform: scale(0.9);
    border: solid rgb(248, 246, 246);
    background-color: #D8E98B;
}

.menubttn:focus {
    box-shadow: 0 0 0 3px rgba(8, 8, 8, 0.5);
}

.buybtn {
    background-color: #9EC757;
    border-radius: 10px;
    border: solid #20181C;
    width: 70%;
    height: 35px;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: -0.1em;
    text-align: center;
    justify-content: center;
    padding: 0.5em 1em;
}

.buybtn span {
    text-align: 0;
}

footer {
    background-color: #3d372aa2;
    backdrop-filter: blur(10px);
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 15%;
    z-index: 1000;
}

footer p {
    color: #D8E98B;
}

.rights {
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 15px;
    font-size: 0.8em;
    margin-right: 13%;
}

.paragraph {
    font-size: clamp(14px, 1.5vw, 18px);
    max-width: 768px;
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 1.0em;
}

p {
    font-size: clamp(14px, 1.5vw, 18px);
    color: #1A1E06;
}

#popup {
    background-color: rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

#popup-content {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 50%;
    z-index: 10000;
    border-radius: 1em;
    border: solid 0.1em #D9DEE3;
}

.open {
    animation: open 0.5s ease;
}

@keyframes open {
    from {
        opacity: 0;
        transform: scale(0) translateY(-200%) translateX(200%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0) translateX(0);
    }
}

.close {
    animation: close 0.5s ease-out;
}

@keyframes close {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    70% {
        opacity: 0;
    }
    100% {
        transform: scale(0);
    }
}

.navbttn {
    top: 0;
    right: 0;
    position: fixed;
    margin-top: 1em;
    margin-right: 3em;
    background-color:#D8E98B;
    color:#20181C;
    border: solid #3A362C 2px;
    border-radius: 1em;
}

.socials-btn {
    border-radius: 10px;
    border: solid rgb(14, 13, 13);
    width: 50%;
    height: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: clamp(14px, 1.5vw, 18px);
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: -0.1em;
}

#ig {
    background: linear-gradient(to left, rgb(255, 0, 149), rgb(255, 215, 0), rgb(132, 0, 255));
    color: white;
}

#twt {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(29, 161, 242));
    color: white;
}

.closepopup {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid rgb(255, 255, 255);
    width: 50%;
    height: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: clamp(14px, 1.5vw, 18px);
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: -0.1em;
}

.covers {
    border-radius: 0.5em;
    transition: 0.25s ease-out;
    width: 90%;
    height: auto;
}

img.covers:hover {
    transform: scale(1.35) rotate(3deg);
}

.paragraph.headline {
    font-weight: bolder;
    letter-spacing: -0.1em;
    text-decoration: underline 2px;
}

.card {
    background-color: #3A362C;
    border-radius: 1em;
    box-sizing: border-box;
    max-width: 768px;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.39);
}

.card p.paragraph {
    font-size: clamp(14px, 1.5vw, 18px);
    color: #d0e7b2;
}

.album {
    padding: 1em;
    border-radius: 1em;
    box-sizing: border-box;
    width: 65%;
    display: block;
    margin: 0 auto;
    transition: 0.25s ease;
}

.album:hover {
    background-color: #9EC757;
    border: #3A362C solid 0.2em;
    border-radius: 1em;
}

.aboutwindow {
    background-color: #9EC757;
    border-radius: 1em;
    box-sizing: border-box;
    max-width: 768px;
    width: 25%;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: -5.5%;
    left: 0;
    right: 0;
    z-index: 2000;
    transition: 0.25s ease;
    cursor:grab;
}

.aboutwindow:hover {
    top: 0;
}

.importantheadline {
    display: inline-block;
    position: relative;
}

.importantheadline::after {
    content: "";
    left: 50%;
    width: 0;
    bottom: -5px;
    height: 5px;
    position: absolute;
    background: currentColor;
    transition: 0.3s ease-out;
    transform: translateX(-50%);
}

.importantheadline:hover::after {
    width: 100%;
}

.page.active h1 {
    animation: fromLeft 0.7s ease;
}

.page.active h2 {
    animation: fromLeft 1.1s ease;
}

.page.active img {
    animation: fromRight 0.9s ease;
}

.page.active p {
    animation: fromBottom 0.9s ease;
}

.page.active button {
    animation: fromLeft 0.8s ease;
}

.page.active div.card {
    animation: fromLeft 0.8s ease;
}

.page.active input#search {
    animation: topEnter 1.0s ease;
}

@keyframes fromLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
        filter: blur(5px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes fromRight {
    from {
        transform: translateX(50px);
        opacity: 0;
        filter: blur(5px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes fromBottom {
    from { transform: translateY(30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes topEnter {
    0% {
        transform: translateY(-120px);
    }
    50% {
        transform: translateY(15px);
    }
    70% {
        transform: translateY(-12px);
    }
    90% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(0);
    }
}

#search {
    /* position: fixed;
    top: 1em;
    display: block;
    padding: 1em;
    left: 65%;
    right: 20%;
    z-index: 2001;
    border-radius: 3em;
    border: #20181C solid 0.08em;
    background-color: #9EC757;
    color: #1A1E06;
    animation: topEnter 0.9s ease; */
    width: 97%;
}

#search::placeholder {
    color: #1A1E06;
}

.searchbarr {
    position: fixed;
    z-index: 2001;
    top: 0;
    animation: topEnter 0.9s ease;
    display: flex;
    width: 16%;
    align-items: center;
    text-align: center;
    right: 50%;
    left: 50%;
    /* margin-right: 15%; */
    border: none;
    background-color: #66744e56;
    backdrop-filter: blur(10px);
    padding: 0.5em;
    border-radius: 1em;
}

.cari,
.cari#searchbttn {
    width: 100%;
    border-radius: 3em;
    height: 2rem;
    background-color: #D8E98B;
    border: none;
    margin-bottom: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.356); */
}

.page.active {
    margin-bottom: 4.5rem;
}

#searchbtn {
    /* top: 0;
    right: 8%;
    position: fixed;
    margin-top: 1em;
    margin-right: 3em;
    background-color:#D8E98B;
    color:#20181C;
    border: solid #3A362C 2px;
    border-radius: 3em;
    z-index: 2002; */
    animation: topEnter 0.9s ease;
    margin-right: 0;
}

#typecomment  {
    background-color:#1A1E06;
    border-radius: 3em;
    width: 100%;
    position: fixed;
    z-index: 2003;
    max-width: 768px;
    width: 80%;
    left: 57.5%;
    align-items: center;
    text-align: center;
    bottom: 0;
    transform: translateX(-50%);
    animation: pushUp 1.3s ease;
}

input#commenter-name {
    display: block;
    padding: 1em;
    margin: 0 auto;
    width: 70%;
    left: 0;
    right: 0;
    z-index: 2001;
    border-radius: 3em;
    border: #20181C solid 0.08em;
    background-color: #9EC757;
    color: #1A1E06;
}

input#commenter-name::placeholder {
    color: #1A1E06;
}

textarea#comment::placeholder {
    color: #1A1E06;
}

textarea#comment {
    display: block;
    padding: 1em;
    margin: 0 auto;
    width: 70%;
    left: 0;
    right: 0;
    z-index: 2001;
    border-radius: 3em;
    border: #20181C solid 0.08em;
    background-color: #9EC757;
    color: #1A1E06;
}

button#commentbttn {
    display: block;
    padding: 1em;
    margin: 0 auto;
    width: 70%;
    left: 0;
    right: 0;
    z-index: 2001;
    border-radius: 3em;
    border: #20181C solid 0.08em;
    background-color: #9EC757;
    color: #1A1E06;
}

@keyframes pushUp {
    0% {
        transform: translate(-50%, 800px);
        filter: blur(6px);
    }
    50% {
        transform: translate(-50%, -35px);
        filter: blur(5px);
    }
    70% {
        transform: translate(-50%, 22px);
        filter: blur(3px);
    }
    90% {
        transform: translate(-50%, -16px);
    }
    100% {
        transform: translate(-50%, 0);
        filter: blur(0);
    }
}

.importantheadline.commenttitle {
    color:#6a833e
}

div#comments div {
    background-color: #6a833e;
    border-radius: 1em;
    box-sizing: border-box;
    max-width: 768px;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    text-align: justify;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.39);
    animation: fromRight 0.8s ease;
}

#spacey {
    margin-top: 20%;
}

div#comments div button {
    z-index: 2004;
    border-radius: 4em;
    background-color: #3d372a;
    color: #d0e7b2;
    border: 0;
    animation: none;
}

/* =========================
   ANIMATION
   ========================= */

header,
#headerr,
.logo {
    animation: headerEnter 0.77s ease 2s backwards;
}

aside {
    animation: sidebarEnter 1.92s ease 2s backwards;
}

footer {
    animation: footerEnter 3.08s ease 2s backwards;
}

.pages {
    animation: mainEnter 4.23s ease 2s backwards;
}


/* =========================
   HEADER
   ========================= */

@keyframes headerEnter {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}


/* =========================
   SIDEBAR
   ========================= */

@keyframes sidebarEnter {
    0% {
        transform: translateX(-220px);
    }

    60% {
        transform: translateX(-220px);
    }

    100% {
        transform: translateX(0);
    }
}


/* =========================
   FOOTER
   ========================= */

@keyframes footerEnter {
    0% {
        transform: translateY(60px);
    }

    75% {
        transform: translateY(60px);
    }

    100% {
        transform: translateY(0);
    }
}


/* =========================
   MAIN
   ========================= */

@keyframes mainEnter {
    0% {
        opacity: 0;
    }

    81.82% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loadingAnimation {
    width: clamp(1rem, 10vw, 5rem);
    height: clamp(1rem, 10vw, 5rem);
    color: #393f1c;
    inset: 0;
    margin: auto;
    position: fixed;
    animation: loadingAnimScr 6.0s ease;
    visibility: hidden;
}

.loadingScreen {
    inset: 0;
    margin: auto;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    animation: loadingAnimScr 6.0s ease;
}

.loadingBar {
    display: inline-block;
    position: relative;
}

.loadingBar::after {
    content: "";
    left: 0;
    width: 0;
    bottom: -5px;
    height: 5px;
    position: absolute;
    background: currentColor;
    transition: 0.3s ease-out;
    animation: loadingBarFill 6.0s ease;
}

@keyframes loadingBarFill {
    0% {
        width:0;
    }
    10% {
        width:10%;
    }
    50% {
        width:30%;
    }
    60% {
        width:60%;
    }
    80% {
        width:60%;
    }
    90% {
        width:100%;
        opacity: 1;
    }
    100% {
        width:100%;
        opacity:0;
    }
}

#divLoading {
    inset: 0;
    margin: auto;
    position: fixed;
    top: 55%;
    visibility: hidden;
    opacity: 0;
    animation: loadingAnimScr 6.0s ease;
}

.loadingBar {
    font-size: 3em;
    visibility: hidden;
    opacity: 0;
    animation: loadingAnimScr 6.0s ease;
}

@keyframes loadingAnimScr {
    0% {
        opacity: 1;
        visibility: visible;
    }
    80% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}